---
Checks: 'abseil-*,bugprone-*,clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,google-*,hicpp-*,llvm-*,misc-*,modernize-*,misperformance-*,readability-*,-clang-diagnostic-pragma-once-outside-header,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-static-cast-downcast,-modernize-use-bool-literals,-modernize-use-transparent-functors,-modernize-use-using,-modernize-use-trailing-return-type,-readability-else-after-return,-readability-implicit-bool-cast,-readability-named-parameter,-readability-redundant-declaration,-llvm-header-guard,-hicpp-no-array-decay,-readability-implicit-bool-conversion'

CheckOptions:
  - { key: readability-identifier-naming.ClassCase,           value: CamelCase  }
  - { key: readability-identifier-naming.NamespaceCase,       value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberSuffix, value: '_'        }
  - { key: readability-identifier-naming.StructCase,          value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,        value: lower_case }

...
